*.swp
*.swo
*.swn
*.swm
*.test
.DS_Store
third_party/
demo/demo
demo/chat/chat

# When updating .h, make sure not to include unnecessary directories.
include/webrtc/build
include/webrtc/call
include/webrtc/common_audio
include/webrtc/examples
include/webrtc/libjingle
include/webrtc/sdk
include/webrtc/test
include/webrtc/tools
include/webrtc/video
include/webrtc/voice_engine
